.competition-form__block {
  border: none;
}

.competition-form__label {
  @include form-text;
  padding-left: 70px;
  position: relative;
  display: block;
  user-select: none;
  cursor: pointer;
}

.competition-form__title {
  @include form-title;
  text-align: center;
  margin-bottom: 43px;
  margin-left: auto;
  margin-right: auto;
}

.competition-form__input + .competition-form__label::after {
  transition: 0.4s ease;
}

.competition-form__input + .competition-form__label::before {
  transition: 0.4s ease;
}

.competition-form__input + .competition-form__label::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 39px;
  border: 2px solid $light2;
  left: 0;
  top: 50%;
  background-color: $white;
  transform: translateY(-50%);
}

.competition-form__input:hover + .competition-form__label::before {
  border-color: $grey-blue;
}

.competition-form__input:active + .competition-form__label::before,
.competition-form__input:focus + .competition-form__label::before {
  border-color: $pink;
}

.competition-form__input:checked + .competition-form__label::after {
  content: "";
  position: absolute;
}

.competition-form__button {
  width: 280px;
  height: 63px;
  background-color: $green;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  border-radius: 4px;
  border: none;
  margin-bottom: 35px;
  transition: 0.4s ease;
  outline: none;

  &:hover {
    background-color: $dark-green;
  }

  &:focus,
  &:active {
    background-color: $dark-green;
    color: rgba($white, 0.3);
  }
}

.competition-form__note {
  font-family: OpenSans;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: $grey-blue;
  text-align: center;

  sup {
    color: $pink;
    position: relative;
    top: -2px;
  }

  span {
    display: none;
  }
}

.competition-form__submit {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .competition-form__wrapper {
    display: flex;
    flex-direction: column;
  }

  .competition-form__block:not(:first-of-type):not(.user-app) .container {
    border: 2px solid $light2;
    padding-left: 60px;
    padding-right: 60px;
    // width: 940px;
  }

  .competition-form__title {
    line-height: 30px;
    background-color: $white;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: -16px;
  }

  .competition-form__label {
    padding-left: 56px;
  }

  .competition-form__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .competition-form__submit {
    margin-bottom: 50px;
  }

  .competition-form__button {
    margin-bottom: 0;
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form__wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .competition-form__wrapper {
    width: 940px;
    margin: 0 auto;
  }

  .competition-form__note {
    span {
      display: inline;
    }
  }

  .competition-form__submit {
    margin-bottom: 33px;
  }
}
