.features-description {
  margin-bottom: 41px;
}

.features-description__item {
  margin-bottom: 31px;
  text-align: center;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.features-description__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
  margin-bottom: 12px;
}

.features-description__text {
  font-size: 14px;
  font-weight: 400;
  color: $grey-blue;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .features-description {
    width: 310px;
    margin-bottom: 0;
    margin-top: 27px;
    // margin-bottom: 49px;
  }

  .features-description__item {
    //margin-bottom: 31px;
    text-align: left;
    margin-bottom: 35px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .features-description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 57px;
  }

  .features-description__item {
    width: calc(100% / 3);
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .features-description__holder {
    width: 238px;
  }
  .features-description__title {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 24px;
  }

  .features-description__text {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
  }
}
