.features {
  padding-top: 41px;
}

.features__wrapper {
  padding-top: 81px;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    width: 120%;
    height: 181px;
    position: absolute;
    top: 0;
    background-color: #f2f2f2;
    transform: rotate(-5deg);
    transform-origin: right;
    margin-left: -10%;
  }
}

.feature__box {
  background-color: #f2f2f2;
  position: relative;
}

.features__holder {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.features__title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: $grey-blue;
  text-align: center;
  margin-bottom: 33px;

  span {
    display: block;
    margin-top: 30px;
  }
}

@media (min-width: $tablet-width) {
  .features {
    padding-top: 49px;
  }

  .features__holder {
    flex-direction: row;
  }

  .features__title {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
    color: $grey-blue;
    text-align: center;

    span {
      display: block;
      width: 420px;
      margin-top: 0;
      margin: 0 auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding-top: 67px;
  }

  .features__title {
    font-size: 50px;
    line-height: 1.2;
    font-weight: 300;
    color: $grey-blue;
    text-align: center;

    span {
      display: block;
      width: 420px;
      margin-top: 0;
      margin: 0 auto;
    }
  }
}
