.features {
  padding-top: 41px;
}

.features__wrapper {
  padding-top: 81px;
}

.feature__box {
  position: relative;
}

.features__holder {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.features__title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: $grey-blue;
  text-align: center;
  margin-bottom: 33px;

  span {
    display: block;
    margin-top: 30px;
  }
}

@media (min-width: $tablet-width) {
  .features {
    padding-top: 49px;
  }

  .features__wrapper {
    padding-top: 19px;
  }

  .features__holder {
    flex-direction: row;
    justify-content: space-between;
  }

  .features__title {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
    color: $grey-blue;
    text-align: center;

    span {
      display: block;
      width: 420px;
      margin-top: 0;
      margin: 0 auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding-top: 67px;
  }

  .features__wrapper.skew-bg {
    padding-top: 44px;

    &::before {
      top: 16px;
      transform: rotate(-4deg);
    }
  }

  .features__holder {
    flex-direction: column;
  }

  .features__title {
    font-size: 50px;
    line-height: 1.2;
    font-weight: 300;
    color: $grey-blue;
    text-align: center;

    span {
      display: block;
      width: 420px;
      margin-top: 0;
      margin: 0 auto;
    }
  }
}
