.main-photo {
}

.main-photo__img {
  position: relative;

  img {
    width: 100%;
    height: 137px;
  }

  &::before {
    content: "Панорама дня";
    color: $white;
    text-align: center;
    padding-top: 6px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    width: 140px;
    height: 36px;
    background-color: $pink;
    top: 0;
    right: 6%;
  }
}

@media (min-width: $tablet-width) {
  .main-photo__img {
    img {
      height: 509px;
    }

    &::before {
      top: 57px;
      right: 2%;
    }
  }

  .main-photo__user-comment.user-comment {
    position: relative;

    .user-comment__wrapper {
      position: absolute;
      top: 24px;
      right: 28px;
    }

    .user-comment__heart {
      margin-left: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-photo__img {
    img {
      height: 506px;
    }

    &::before {
      top: 54px;
      right: 10.5%;
    }
  }

  .main-photo__user-comment.user-comment {
    .user-comment__wrapper {
      right: 32px;
    }
  }

  .main-photo__user-comment.user-comment {
    .user-comment__heart {
      margin-left: 16px;
    }
  }
}
