.map {
  width: 100%;
  height: 645px;
  background-color: $grey;
  background-image: url("../img/map-mb.png");
  background-size: 100% 645px;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: block;
  position: relative;
  z-index: -1;

  iframe {
    width: 100%;
    height: 645px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: $pink;
    border-radius: 50%;
    border: 10px solid white;
    bottom: 328px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: $tablet-width) {
  .map {
    height: 848px;
    background-image: url("../img/map-tablet.png");
    background-size: 100% 848px;

    iframe {
      width: 100%;
      height: 848px;
    }

    &::before {
      bottom: 428px;
    }
  }
}

@media (min-width: $desktop-width) {
  .map {
    height: 976px;
    background-image: url("../img/map-desktop.png");
    background-size: 100% 976px;

    iframe {
      width: 100%;
      height: 976px;
    }

    &::before {
      bottom: 493px;
    }
  }
}
