.page-competition__conditions {
  margin-bottom: 40px;
}

.page-competition__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $grey-blue;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 279px;

  span {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-competition__conditions {
    margin-bottom: 71px;
  }

  .page-competition__text {
    font-size: 18px;
    width: 490px;

    span {
      display: block;
    }
  }
}
