.reviews {
  padding-top: 43px;
  padding-bottom: 75px;
}

.reviews__list {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;

  .slick-arrow {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    outline: none;
    cursor: pointer;

    &:hover .reviews__arrow {
      fill-opacity: 0.8;
    }

    &:focus .reviews__arrow,
    &:active .reviews__arrow {
      fill-opacity: 0.2;
    }
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .slick-dots {
    bottom: -48px;
  }
}

.reviews__arrow {
  width: 22px;
  height: 41px;
  fill-opacity: 0.4;
  fill: $grey-blue;
  transition: 0.4s ease;
  cursor: pointer;

  &--right {
    transform: rotate(180deg);
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 46px;
    padding-bottom: 37px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 71px;
    padding-bottom: 0;
  }

  .reviews__list {
    padding-bottom: 0;
  }
}
