/* .tariffs {
}

.tariffs__wrapper {
  width: 280px;
  height: 63px;
  border-collapse: collapse;
}

.tariffs__header,
.tariffs__cell {
  border: 2px solid $light2;
}

.tariffs__header--empty {
  border: none;
}
 */
.tariffs__item {
  width: 280px !important;
  margin: 0;
}

.tariffs__header {
  width: 280px;
  height: 98px;
  background-color: $grey-blue;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 21px;

  &--standard {
    border-right: 2px solid $white;
    border-left: 2px solid $white;
  }
}

.tariffs__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  //margin-bottom: 2px;
}

.tariffs__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: $white;
}

.tariffs__cell {
  width: 280px;
  height: 63px;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-right: 24px;
  padding-left: 24px;
  border-bottom: 2px solid $light2;
  border-right: 2px solid $light2;
  //border-left: 2px solid $light2;

  /*   &--base {
    border-left: 2px solid $light2;
  } */
}

.tariffs__cell--checked {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    width: 31px;
    height: 16px;
    border-left: 4px solid $bright-green;
    border-bottom: 4px solid $bright-green;
    transform: rotate(-45deg);
    right: 17px;
    bottom: 20px;
    background-color: transparent;
    box-shadow: inset -4px -4px 0 0 $white, 4px 4px 0 0$white;
  }
}

.tariffs__cell--unchecked {
  position: relative;

  &:after,
  &:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 36px;
    background-color: $orange;
    right: 31px;
    top: 50%;
  }

  &:after {
    transform: translateY(-50%) rotate(45deg);
  }

  &:before {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.tariffs__cell p {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: $grey-blue;
}

@media (min-width: $tablet-width) {
  .tariffs__wrapper {
    display: flex;
  }
}
//border: 2px solid #e5e5e5;
