.tariffs {
}

.tariffs__item {
  width: 280px !important;
  margin: 0;
}

.tariffs__header {
  // width: 280px;
  height: 98px;
  background-color: $grey-blue;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 21px;

  &--standard {
    border-right: 2px solid $white;
    border-left: 2px solid $white;
  }
}

.tariffs__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  //margin-bottom: 2px;
}

.tariffs__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: $white;
}

.tariffs__cell {
  //width: 280px;
  height: 63px;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-right: 24px;
  padding-left: 24px;
  border-bottom: 2px solid $light2;
  border-right: 2px solid $light2;
  //border-left: 2px solid $light2;

  /*   &--base {
    border-left: 2px solid $light2;
  } */
}

.tariffs__cell--checked {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    width: 31px;
    height: 16px;
    border-left: 4px solid $bright-green;
    border-bottom: 4px solid $bright-green;
    transform: rotate(-45deg);
    right: 17px;
    bottom: 20px;
    background-color: transparent;
    box-shadow: inset -4px -4px 0 0 $white, 4px 4px 0 0$white;
  }
}

.tariffs__cell--unchecked {
  position: relative;

  &:after,
  &:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 36px;
    background-color: $orange;
    right: 31px;
    top: 50%;
  }

  &:after {
    transform: translateY(-50%) rotate(45deg);
  }

  &:before {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.tariffs__cell p {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: $grey-blue;
}

@media (min-width: $tablet-width) {
  .tariffs {
  }

  .tariffs__wrapper {
    display: flex;
    align-items: flex-end;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    // margin: 0 auto;
  }

  .tariffs__item {
    width: 156px !important;
  }

  .tariffs__header {
    height: 79px;
  }

  .tariffs__cell {
    height: 49px;
    padding-top: 17px;
    padding-bottom: 16px;
    padding-left: 17px;
    padding-right: 17px;
  }

  .tariffs__cell p {
    display: none;
  }

  .tariffs__item--first {
    .tariffs__header {
      background-color: transparent;
    }

    .tariffs__cell {
      border-left: 2px solid $light2;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      color: $grey-blue;

      &:nth-of-type(2) {
        border-top: 2px solid $light2;
      }
    }
  }
}
//border: 2px solid #e5e5e5;
