.user-rewiev {
  padding: 0;
  padding-top: 38px;
  padding-bottom: 45px;
}

.user-rewiev__input {
  @include form-input;
  height: 201px;
  padding-top: 13px;
  padding-left: 18px;
  padding-bottom: 13px;
  padding-left: 18px;
  resize: none;
}

.user-rewiev__title {
  margin-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .user-rewiev {
    order: 5;
    padding-bottom: 67px;

    .container {
      padding-bottom: 48px;
    }
  }

  .user-rewiev__title {
    margin-bottom: 33px;
  }

  .user-rewiev__input {
    height: 192px;
  }
}

@media (min-width: $desktop-width) {
  .user-rewiev__title {
    margin-bottom: 27px;
  }

  .user-rewiev__input {
    height: 128px;
  }

  .user-rewiev .container {
    padding-bottom: 40px;
  }
}
